html
  head
    title ProtoPlatform
  body
    style
      canvas{
      position : absolute;
      left : calc(50% - 300px);
      top : calc(50% - 400px);
      }
    #pixelCounter
    canvas#canvas(width='600', height='400')
    canvas#buffer1(width='16000', height='400')
    script(data-main='loader/config', src='libraries/require.min.js')
